<!doctype html>
<html>
  <head>
    <title><%= title %></title>

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="cleartype" content="on">

    <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript">
      (function() {
        var config = {
          kitId: 'tvc1wao',
          scriptTimeout: 3000
        };
        var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
      })();
    </script>
  </head>
  <body>
    <header class="header">
      <h1 class="logo">Habits</h1>
    </header>
    <%- body %>
    <script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/js/zepto.js"></script>
    <script type="text/javascript" src="/js/zepto.flickable.min.js"></script>
    <script type="text/javascript">
  $(document).ready(function(){
    // $('#task-list').flickable({segments: 3});
  });
</script>
  </body>
</html>